/* .card-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
 } */
figure {
  display: flex;
  border: 2px #e0e0e0 solid;
  border-top: 0px;
  flex-flow: column;
  /* padding: 5px; */
  /* max-width: 400px; */
  /* margin: auto; */
  border-radius: 20px;
}
figcaption {
  background-color: #fff;
  color: #000;
  /* font-family: Circular; */
  padding: 3px;
  text-align: left;
  font-size: 18px;
}
span {
  font-size: 12px;
  color: #000;
}
img {
  /* max-width:  400px; */
}