.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0);
  grid-template-rows: .5fr repeat(2, 1.5fr) 3fr ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: grid;
  grid-gap: 1em;
  padding: 10px;
  }

  .grid > * {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 4; }
  .div2 { grid-area: 2 / 1 / 3 / 4; }
  .div3 { grid-area: 4 / 1 / 5 / 2; }
  .div4 { grid-area: 4 / 2 / 5 / 3; }
  .div5 { grid-area: 4 / 3 / 5 / 4; }
  .div6 { grid-area: 3 / 1 / 4 / 4; border: none !important; color: red; font-size:18pt; } 

  main, body {
    min-height: 100vh;
  }

